*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #FCF9BE;
}
.container{
    padding: 10px;
    background-color: #FCE2DB;
    border-radius: 10px;
    border: none;
    width: 34%;
    /* height: 633px; */
    position: absolute;
    top: 7%;
    left: 32%;
    box-shadow: 0 0 10px ;
}
h1,.inputs{
    color: #767571
}
h1,.inputs,#btn{
    padding: 10px;
    margin-left: 1px;
}
h1{
    margin-top: 20px;
}

.inputs{
    margin-top: -40px;
}
h3{
    font-size: 18px;
    margin-top: 20px;
}
input{
    margin-top: 3px;
    font-size: 20px;
    padding: 10px 10px;
    width: 100% ;
    border: 1px solid black;
    border-radius: 5px;
    
}
#btn{
    cursor: pointer;
    color: white;
    background-color: #056dff;
   font-size: 17px;
    margin-left: 11px ;
    padding: 11px 12px;
    border: none;
    border-radius: 5px;
}